.btn-dark{
    border:solid 1px rgb(60,60,60);
}
#navMobile{
    visibility: hidden;
}
#navDesktop a{
    color: white;
}

#navDesktop{
    visibility: visible;
    padding: auto;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    background-color: black;
}
h1{
    color: white;
}
@media screen and ( max-width: 1000px) {
    #navMobile{
        visibility: visible;
    }
    #navDesktop{
        visibility: hidden;
    }
    #botontoggle{
        margin-left: 10px;
    }
}