<footer style="margin-top: 35px;">
    <nav class="navbar bg-black">
      <div class="container-xxl justify-content-evenly">
          <a href="https://www.instagram.com/vale.sigaudo" title="Instagram" target="_blank" class="btn btn-primary me-2"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/in/valesigaudo/" title="Linkedin" target="_blank" class="btn btn-primary me-2"><i class="bi bi-linkedin"></i></a>
          <a href="https://github.com/Catul0" target="_blank" title="Github" class="btn btn-primary"><i class="bi bi-github"></i></a>
      </div>
    </nav>
</footer>