.btn-dark{
    background-color: black;
    border: none;
    height: 40px;
    padding-top: 8px;
}
#boton-mobile{
    border:solid 1px rgb(60,60,60);
    background-color: rgb(40,40,40) ;
}
section[id]{
    scroll-margin-top: 200px;
}
  .overlay.show {
    pointer-events: auto;
    opacity: 1;
  }
  #navMobile{
    visibility: hidden;
}

#navDesktop a{
    color: white;
}
#navDesktop{
    visibility: visible;
    padding: auto;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    background-color: black;
}
h1{
    color: white;
}
h1:hover{
    color: white;
}
.nav-item #english{
    background-color: black;
    border: none;
    bottom: 0;
    transition-duration: all 2s;
    
}

.nav-item #english:hover{
    background: url("/assets/imagenes/ingles4.webp");
    text-shadow: 2px 2px #000000;
}

@media screen and ( max-width: 1000px) {
    #navMobile{
        visibility: visible;
    }
    #navDesktop{
        visibility: hidden;
    }
    #botontoggle{
        margin-left: 10px;
    }
}