<div id="habilidades" class="card"
    style="padding-bottom: 35px;padding-top: 10px;margin: auto; margin-top: 20px; background-color: rgba(33,37,41,.8); border: none; color: rgb(255, 255, 255); width: 80%;">
    <h2>Habilidades</h2>
    <hr />
    <div class="row" style="padding: 10px; background: none;">
        <div class="col-sm-6 col-md-3" >
          <div id="slid">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" title="Python -> Nivel: basico">
                  <img src="./assets/imagenes/python.png" class="d-block w-100" alt="imagen de habilidad">
                </div>
                <div class="carousel-item" title="Github -> Nivel: Bueno">
                  <img src="./assets/imagenes/github.png" class="d-block w-100" alt="imagen de habilidad">
                </div>
                <div class="carousel-item" title="C++ -> Nivel: Intermedio">
                  <img src="./assets/imagenes/cpp.png" class="d-block w-100" alt="imagen de habilidad">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" title="Angular -> Nivel: Muy Bueno">
                <img src="./assets/imagenes/angular.png" class="d-block w-100" alt="imagen de habilidad.">
              </div>
              <div class="carousel-item" title="Java -> Nivel: Intermedio">
                <img src="./assets/imagenes/Java.png" class="d-block w-100" alt="imagen de habilidad">
              </div>
              <div class="carousel-item" title="TypeScript -> Nivel: Bueno">
                <img src="./assets/imagenes/ts.png" class="d-block w-100" alt="imagen de habilidad">
              </div>
                
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div id="slid">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active"  title="JavaScript -> Nivel: Bueno">
                  <img src="./assets/imagenes/js.png" class="d-block w-100" alt="imagen de habilidad">
                </div>
                <div class="carousel-item"  title="MySQL -> Nivel: Bueno">
                  <img src="./assets/imagenes/sql.png" class="d-block w-100" alt="imagen de habilidad">
                </div>
                <div class="carousel-item" title="SpringBoot -> Nivel: Bueno">
                  <img src="./assets/imagenes/spring.png" class="d-block w-100" alt="imagen de habilidad">
                </div>        
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" title="Bootstrap -> Nivel: Muy Bueno">
                <img src="./assets/imagenes/bootstrap.png" class="d-block w-100" alt="imagen de habilidad">
              </div> 
              <div class="carousel-item" title="HTML 5 -> Nivel: Muy Bueno">
                <img src="./assets/imagenes/HTML.png" class="d-block w-100" alt="imagen de habilidad">
              </div>
              <div class="carousel-item" title="CSS 3 -> Nivel: Bueno">
                <img src="./assets/imagenes/CSS.png" class="d-block w-100" alt="imagen de habilidad">
              </div>  
            </div>
          </div>
        </div>
      </div>
</div>