<div style=" background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(22,22,185,1) 0%, rgba(0,212,255,1) 100%)">
    <app-nav-english></app-nav-english>
    <app-portada-english></app-portada-english>
    <app-informacion-english></app-informacion-english>
    <app-educacion-english></app-educacion-english>
    <app-hablidades-english></app-hablidades-english>
    <app-proyectos-english></app-proyectos-english>
    <app-contact-english></app-contact-english>
    <app-footer></app-footer>
</div>