hr {
    background-color: rgb(250, 250, 250, 0.8);
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
}
h2{
    margin: auto;
}
.cv{
    margin: auto;
    width: 30%;
}
@media screen and ( max-width: 1000px) {
    .cv{
        margin: auto;
        width: 80%;
    }
}