<div class="card" style="background: none; border:none;">
    <div *ngFor="let inf of info;" class="card"
        style="padding: 10px; background-color: rgba(33,37,41,.8); color: rgb(255, 255, 255); margin: auto; margin-top: 20px; width: 80%;">
        <h2>About Me</h2>
        <hr />
        <h3 class="card-title">{{inf.titulo}}</h3>
        <p class="card-text">{{inf.texto}}</p>
        <div style="margin: auto; width: 30%;">
            <a href="https://drive.google.com/file/d/1J2zCFvbp1rs3dLL_bPpup1s-49zdzu3v/view?usp=sharing" target="_blank" title="Curriculum" class="btn btn-primary" style="width: 100%;">Curriculum Vitae</a>
        </div>
    </div>
</div>